{% if paginator.page == 1 %}
<div class="post p3 p-responsive wrap intro" role="main">
  <div class="measure">
    <div class="posts">
      <div class="post">
        <p class="post-summary">
          Hey there! My name is Rakhim, I'm running <a href="https://ru.hexlet.io?utm_medium=blog&utm_source=rakhim&utm_campaign=rakhim_homepage">Hexlet.io</a>. This blog is about life, technology, tools, people and their languages.

        <p class="post-summary">
          I also have a much older <a href="https://rakh.im">blog in Russian</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}
